*{
    margin:0;
}
.container{
    position:relative;
    height: 500px;

    background-color: greenyellow;
}
.pro-image{
    position:absolute;
    right: 300px;
    bottom: 100px;
}
h1{
    color:salmon;
    font-size: 50px;
}
p{
    color: lightslategray;
    font-size: 20px;
}
a{
    text-decoration:none;
    padding: 8px 16px;
    background-color: limegreen;
    margin: 5px;
    border:2px solid gainsboro;
    font-size: 12px;
    border-radius:5px;

}
.hire-area{
    position: absolute;
    left: 50px;
    top: 100px;
}
