
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black  ;
}
nav ul li{
    list-style-type: none;
    float: right;
    transition: background-color .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

nav ul li a{
    position: relative;
    display: block;
    padding: 16px 20px;
    text-decoration:none;
    font-size:1.4rem;
    color:white;
    font-weight: 600;
    
}

nav ul li:hover{
    background-color:rgba(255, 255, 255,.999999);
}
 nav  ul li a:hover{
     color:black;
     transition: color .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

 }

 nav  ul li a::after{
    position: absolute;
     content: '';
     display: block;
      border-bottom: 3px solid red;
      left:22px;
      right:100%;
      
      transition: right .5s ease-in-out;
 }

 nav  ul li:hover  a::after{
     right :0;
     
     
 }



