body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    margin-right:5rem;
}


nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: white;
}
nav ul li{
   float: right;
}

nav ul li a{
    display: block;
    padding:8px 12px;
    text-decoration:none;
    margin-top: 12px;
    color: #005C08;
    font-size:1rem;
    font-weight:500;
}
nav ul li #not-hover{
    background-color: #00ffff;
    color:#0B0A0A;
    border-radius:5px;
}
nav ul li a:hover:not(#not-hover){
    color:#005252;
}

.top-bnr-area > .row > .col{
    width: 49%;
    float: left;
}

@media only screen and (max-width:500px){
    .row{
        width: 100%;
        float: e;
    }
}